---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "我是一个 Astro.build 的起始主题",
  title: "关于",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-12">关于</h1>
  <div class="prose prose-sm prose-cactus max-w-none">
    <p>
      你好，我是一个 Astro 起始主题。我特别适合帮助你开始搭建你自己的博客网站。
    </p>
    <p>以下是我的一些内置的强大功能：</p>
    <ul class="list-inside list-disc" role="list">
      <li>我非常快，因为我是一个静态网站</li>
      <li>我完全支持响应式设计</li>
      <li>我带有亮色和暗色主题</li>
      <li>我容易自定义和添加内容</li>
      <li>我使用 Tailwind CSS 样式</li>
      <li>Shiki 代码语法高亮</li>
      <li>Satori 自动生成博客文章的 OG 图片</li>
    </ul>
    <p>
      如果你喜欢我，欢迎克隆或 fork 我的 <a
        class="cactus-link inline-block"
        href="https://github.com/chrismwilliams/astro-cactus"
        rel="noreferrer"
        target="_blank">仓库</a
      >！
    </p>
  </div>
</PageLayout>
