---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "蕉太狼的博客",
  title: "关于",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-12">关于</h1>
  <div class="prose prose-sm prose-cactus max-w-none">
    <p>我是蕉太狼，这是我的博客。</p>
    <p>我是一个新手开发，下来我会在这里记录的我的学习。</p>
    <p>我会学习web相关的东西。</p>
    <p>这些需要很久。</p>
    <!-- <ul class="list-inside list-disc" role="list">
      <li>我非常快，因为我是一个静态网站</li>
      <li>我完全支持响应式设计</li>
      <li>我带有亮色和暗色主题</li>
      <li>我容易自定义和添加内容</li>
      <li>我使用 Tailwind CSS 样式</li>
      <li>Shiki 代码语法高亮</li>
      <li>Satori 自动生成博客文章的 OG 图片</li>
    </ul> -->
    <SocialList />
  </div>
</PageLayout>
